<!--//Name:Han Lu
//Email : hlu48@myseneca.ca
//ID : 123237216 
//heroku link
//https://han216a3.herokuapp.com/
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
        <link rel="stylesheet" href="./css/style.css">
        <!-- icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Plans</title>
    </head>
    
    <body>
        <header>
             <!-- Logo -->
            <div class="logo">
                <img src="./img/icon.jpg" alt="icon goes here">Canada Web Hosting
            </div>

            <!-- Navigation Bar -->
            <div id="Navbar" class="container-fluid">
                <div class="row">
                    <div class="col-md-6">  
                        <ul class="nav nav.pills nav-justified">
                        <li role="presentation" class="active"><a href="/">Home</a></li>
                        <li role="presentation"><a href="/cwh">Plans</a></li>
                        <li role="presentation"><a href="/login">Login</a></li>
                        <li role="presentation"><a href="/registration">Registration</a></li>
                        </ul>
                     </div></div> </div></header>
    
            <!-- Hero section -->
            <section>
                <img id="hero" src="./img/plan.jpeg" alt="plan">
            </section>
            <!-- Content Section -->
            <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/basic.png" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-warning">Free</h5>
                            <p class="card-text">Free hosting,suggested for students to learn.</p>
                            <p class="card-text">Features :
                            <ul class="list-unstyled">
                                <li><a><i class="text-warning bi bi-check-all"></i></a>Single Website</li>
                                <li><i class="text-warning bi-check-all"></i>Starter Perfomance</li>
                                <li><i class="text-warning bi bi-check-all"></i>10 GB Space</li>
                                <li><i class="text-warning bi bi-check-all"></i>Free Site Migration</li>
                                <li><i class="text-dark bi bi-x"></i>Uses Renewable Energy</li>
                            </ul>
                            </p>
                            <p class="card-text"><span class="text-info"><b>C$ 0.00/</b></span><small>month</small></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid gap-2">
                                <button class="btn btn-warning" type="button"><i class="bi bi-cart2"></i> Get Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/pro.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">

                            <h5 class="card-title text-center text-warning">Pro</h5>
                            <p class="card-text">Pro perfomance,enhanced machine and much more.Suggested for small to
                                medium size projects.</p>
                            <p class="card-text">Features :
                            <ul class="list-unstyled">
                                <li><a><i class="text-warning bi bi-check-all"></i></a>Unlitimted Website</li>
                                <li><i class="text-warning bi-check-all"></i>Pro Perfomance</li>
                                <li><i class="text-warning bi bi-check-all"></i>Unlimited Space</li>
                                <li><i class="text-warning bi bi-check-all"></i>10 Site Migration</li>

                            </ul>
                            </p>
                            <p class="card-text"><span class="text-info"><b>C$ 15.00/</b></span><small>month</small></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid gap-2">
                                <button class="btn btn-warning" type="button"><i class="bi bi-cart2"></i> Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="./img/enterprise.jpg" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center text-warning">Enterprise</h5>
                            <p class="card-text">Our Flagship,best performance,Suggested for large scale projects.</p>
                            <p class="card-text">Features :
                            <ul class="list-unstyled">
                                <li><a><i class="text-warning bi bi-check-all"></i></a>Unlitimted Website</li>
                                <li><i class="text-warning bi-check-all"></i>Best Perfomance</li>
                                <li><i class="text-warning bi bi-check-all"></i>Unlimited Space</li>
                                <li><i class="text-warning bi bi-check-all"></i>Unlimited Site Migration</li>
                                <li><i class="text-warning bi bi-check-all"></i>Email Migration</li>
                                <li><i class="text-warning bi bi-check-all"></i>SSL Certificate</li>
                                <li><i class="text-warning bi bi-check-all"></i>Dedicated IP</li>

                            </ul>
                            </p>
                            <p class="card-text"><span class="text-info"><b>C$ 30.00/</b></span><small>month</small></p>
                        </div>
                        <div class="card-footer">
                            <div class="d-grid gap-2">
                                <button class="btn btn-warning" type="button"><i class="bi bi-cart2"></i> Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>


            
      
      
             <!-- Footer -->
             <br><br>
             <footer class="text-center text-lg-start text-muted">
              <section class="">
                <div class="container text-left text-md-start mt-5 border-top">
                  <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      <h3 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Follow us
                      </h3>
                      <div>
                        <a href="" class="fa fa-facebook fa-3x"></a>
                        <a href="" class="fa fa-twitter fa-3x"></a>
                        <a href="" class="fa fa-linkedin fa-3x"></a>
                        <a href="" class="fa fa-instagram fa-3x"></a>
                        <a href="" class="fa fa-youtube fa-3x"></a>
                      </div>
                    </div>
          
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                      <!-- Links -->
                      <h3 class="text-uppercase fw-bold mb-4">Hosting & Servers</h3>
                      <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Canadian Web Hosting</a></li>
                        <li class="mb-2"><a href="#">Canadian Cloud Servers</a></li>
                        <li class="mb-2"><a href="#">Reseller Web Hosting</a></li>
                      </ul>
          
          
                      
                    </div>
          
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      <!-- Links -->
                      <h3 class="text-uppercase fw-bold mb-4">Domains</h3>
                      <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Domain Name Search</a></li>
                        <li class="mb-2"><a href="#">Domain Name Transfer</a></li>
                        <li class="mb-2"><a href="#">Weebly Site Builder</a></li>
                      </ul>
          
            
                    </div>
                    <!-- Grid column -->
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
                      <!-- Links -->
                      <h3 class="text-uppercase fw-bold mb-4">Support</h3>
                      <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Help Center</a></li>
                        <li class="mb-2"><a href="#">Open Support Ticket</a></li>
                        <li class="mb-2"><a href="#">Check System Status</a></li>
                      </ul>
                    
                    </div>
                    <!-- Grid column -->
                  </div>
                  <!-- Grid row -->
                </div>
              </section>
              <!-- Section: Links  -->
            
              <!-- Copyright -->
              <div class="text-center p-4" style="background-color: rgba(10, 10, 10, 0.05);">
                © 2022 Copyright:
                <a class="text-reset fw-bold" href="home.html">Web Hosting Canada</a>
              </div>
              <!-- Copyright -->
            </footer>
          
           <!-- Latest compiled and minified JavaScript -->
           <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
          </body>
          </html>