<!--//Name:Han Lu
//Email : hlu48@myseneca.ca
//ID : 123237216 
//heroku link
//https://han216a2.herokuapp.com/
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canadian Web Hosting Log In</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">

  </head>

  <body>

 
  <div class="mt-4 d-flex justify-content-center">
    <img src="./img/icon.jpg" width="100px">
  </div>

 <!-- Log in -->
 {{#if resObj.msg}}
 <div class="alert alert-danger" role="alert">
   Error:{{resObj.msg}}
 </div>
 {{/if}}
 <form method="post" enctype="application/x-www-form-urlencoded" action="login_submit">
   <div class="container mt-3 border-shrink">
     <div class="row justify-content-center">
     
      <div class="form-group">
        <label>User Name</label>
        <input type="text" name="username" value="{{resObj.username}}" class="form-control" id="emailLogIn"  placeholder="Enter username">
      </div>
     </div>
    
     <div class="row justify-content-center">
      <div class="form-group">
        <label for="passwordLogIn">Password</label>
        <input type="password" name="password" value="{{resObj.password}}" class="form-control" id="emailLogIn" placeholder="Password">
      </div>
     </div>

     <div class="form-group row justify-content-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Remember password?
        </label>
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary col-md-2 mt-2">Submit</button>
     </div>

   </div>

</form>


      <!-- Footer -->
      <footer class="text-center text-lg-start text-muted">
        <section class="">
          <div class="container text-left text-md-start mt-5 border-top">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Follow us
                </h6>
                <div>
                  <a href="" class="fa fa-facebook"></a>
                  <a href="" class="fa fa-twitter"></a>
                  <a href="" class="fa fa-linkedin"></a>
                  <a href="" class="fa fa-instagram"></a>
                  <a href="" class="fa fa-youtube"></a>
                </div>
              </div>
    
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Hosting & Servers</h6>
                <ul class="list-unstyled">
                  <li class="mb-2"><a href="#">Canadian Web Hosting</a></li>
                  <li class="mb-2"><a href="#">Canadian Cloud Servers</a></li>
                  <li class="mb-2"><a href="#">Reseller Web Hosting</a></li>
                </ul>
    
    
                
              </div>
    
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Domains</h6>
                <ul class="list-unstyled">
                  <li class="mb-2"><a href="#">Domain Name Search</a></li>
                  <li class="mb-2"><a href="#">Domain Name Transfer</a></li>
                  <li class="mb-2"><a href="#">Weebly Site Builder</a></li>
                </ul>
    
      
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Support</h6>
                <ul class="list-unstyled">
                  <li class="mb-2"><a href="#">Help Center</a></li>
                  <li class="mb-2"><a href="#">Open Support Ticket</a></li>
                  <li class="mb-2"><a href="#">Check System Status</a></li>
                </ul>
              
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(10, 10, 10, 0.05);">
          © 2022 Copyright:
          <a class="text-reset fw-bold" href="home.html">Web Hosting Canada</a>
        </div>
        <!-- Copyright -->
      </footer>
    
     <!-- Latest compiled and minified JavaScript -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
      